/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3); /* Slightly transparent */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.visible {
    transform: translateY(0);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 55px;
    height: 55px;
    margin-right: 1rem;
    box-shadow: 0 0 15px rgba(0, 196, 255, 0.5);
    transition: all 0.3s ease;
   
}

.logo:hover .logo-img {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 196, 255, 0.8);
   }
   

.logo span {
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(58, 97, 212);
}

/* Navbar Links */
.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 11px; /* Even spacing */
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: #00aaff;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-icon {
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-icon {
    opacity: 1;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    border-radius: 5px;
    padding: 10px 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.2s;
    transform: translateY(10px);
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    color: white;
    font-size: 1rem;
    display: block;
    transition: background 0.3s;
}

.dropdown-menu a:hover {
    background: rgba(0, 170, 255, 0.5);
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        display: none;
        text-align: center;
        gap: 20px;
    }

    .nav-links.open {
        display: flex;
        padding: 20px 0;
    }

    .nav-links li {
        margin: 0;
    }

    .dropdown-menu {
        position: static;
        background: none;
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}
